# Ignore compiled files and directories
/target/
**/*.rs.bk

# Ignore IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Ignore macOS system files
.DS_Store

# Ignore Cargo.lock for libraries
# Uncomment the next line if you are building a library
# Cargo.lock
visualization/block_stats.png
app.pid
